{%  extends 'base.html' %}
    {% block title %} Sign Up {% endblock title %}

    {% block header%}
        <h1>Sign Up Here</h1>
    {% endblock header%}

    {% block content%}
        <form action="">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Enter Username">
            <label for="password">Password</label>
            <input type="text" name="password" class="form-control" placeholder="Enter Password">
            <input type="submit" value="Sign Up" class="btn btn-outline-primary w-100">
        </form>
    {% endblock content%}